body {
    background-color: rgb(11, 11, 11);
    font-size: x-large;
    font-weight: bolder;
    text-align: justify;
    font-family: "Chakra Petch",sans-serif;
}
section {
    background-color: rgb(244, 244, 247);
    padding-bottom: 5%;
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
header{
    font-size: 40px;
    padding: 20px;
    font-size: 32px;
    color: rgb(236, 77, 4);
    border-bottom: solid 2px rgb(243, 76, 5);
}
.texto{
    margin-right: 80px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(240, 101, 8);
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.lista{
    background-color: rgb(239, 70, 8);
}